.color1{
    width: 300px;
    height: 150px;
    background-color: AliceBlue;
}
.color2     {
    width: 300px;
    height: 150px;
    background-color: AntiqueWhite;
}
.color3    {
    width: 300px;
    height: 150px;
    background-color: Aquamarine;
} 
.color4     {
    width: 300px;
    height: 150px;
    background-color: Azure;
}
.color5     {
    width: 300px;
    height: 150px;
    background-color: BlueViolet;
}
.color6     {
    width: 300px;
    height: 150px;
    background-color: CadetBlue;
}
.color7     {
    width: 300px;
    height: 150px;
    background-color: Cornsilk;
}
.color8     {
    width: 300px;
    height: 150px;
    background-color: Crimson;
}
.color9     {
    width: 300px;
    height: 150px;
    background-color: DarkGray;
}
.color10     {
    width: 300px;
    height: 150px;
    background-color: DarkGrey;
}
.color11     {
    width: 300px;
    height: 150px;
    background-color: DarkOrange;
}
.color12     {
    width: 300px;
    height: 150px;
    background-color: DarkRed;
}
.color13     {
    width: 300px;
    height: 150px;
    background-color: DarkSalmon;
}
.color14     {
    width: 300px;
    height: 150px;
    background-color: DarkSeaGreen;
}
.color15     {
    width: 300px;
    height: 150px;
    background-color: DarkSlateBlue;
}
.color16     {
    width: 300px;
    height: 150px;
    background-color: DeepPink;
}
.color17     {
    width: 300px;
    height: 150px;
    background-color: FireBrick;
}
.color18     {
    width: 300px;
    height: 150px;
    background-color: FloralWhite;
}
.color19     {
    width: 300px;
    height: 150px;
    background-color: GreenYellow;
}
.color20     {
    width: 300px;
    height: 150px;
    background-color: HoneyDew;
}
.color21     {
    width: 300px;
    height: 150px;
    background-color: HotPink;
}
.color22     {
    width: 300px;
    height: 150px;
    background-color: IndianRed;
}
.color23     {
    width: 300px;
    height: 150px;
    background-color: Ivory;
}
.color24     {
    width: 300px;
    height: 150px;
    background-color: LightCoral;
}
.color25     {
    width: 300px;
    height: 150px;
    background-color: LightGoldenRodYellow;
}
.color26     {
    width: 300px;
    height: 150px;
    background-color: LightGreen;
}
.color27     {
    width: 300px;
    height: 150px;
    background-color: LightPink;
}
.color28     {
    width: 300px;
    height: 150px;
    background-color: LightSalmon;
}
.color29     {
    width: 300px;
    height: 150px;
    background-color: LightSeaGreen;
}
.color30     {
    width: 300px;
    height: 150px;
    background-color: Magenta;
}
.color31     {
    width: 300px;
    height: 150px;
    background-color: MediumAquaMarine;
}
.color32     {
    width: 300px;
    height: 150px;
    background-color: MediumSeaGreen;
}
.color33     {
    width: 300px;
    height: 150px;
    background-color: MediumSlateBlue;
}
.color34     {
    width: 300px;
    height: 150px;
    background-color: MediumVioletRed;
}
.color35     {
    width: 300px;
    height: 150px;
    background-color: MediumSpringGreen;
}
.color36     {
    width: 300px;
    height: 150px;
    background-color: MidnightBlue;
}
.color37     {
    width: 300px;
    height: 150px;
    background-color: MintCream;
}
.color38     {
    width: 300px;
    height: 150px;
    background-color: Moccasin;
}
.color39     {
    width: 300px;
    height: 150px;
    background-color: navajoWhite;
}
.color40     {
    width: 300px;
    height: 150px;
    background-color: OldLace;
}
.color41     {
    width: 300px;
    height: 150px;
    background-color: OliveDrab;
}
.color42     {
    width: 300px;
    height: 150px;
    background-color: OrangeRed;
}
.color43     {
    width: 300px;
    height: 150px;
    background-color: Orchid;
}
.color44     {
    width: 300px;
    height: 150px;
    background-color: Peru;
}
.color45     {
    width: 300px;
    height: 150px;
    background-color: Salmon;
}
.color46     {
    width: 300px;
    height: 150px;
    background-color: SeaShell;
}
.color47     {
    width: 300px;
    height: 150px;
    background-color: SeaGreen;
}
.color48     {
    width: 300px;
    height: 150px;
    background-color: Snow;
}
.color49     {
    width: 300px;
    height: 150px;
    background-color: SteelBlue;
}
.color50     {
    width: 300px;
    height: 150px;
    background-color: Tan;
}
.color51     {
    width: 300px;
    height: 150px;
    background-color: Teal;
}
.color52     {
    width: 300px;
    height: 150px;
    background-color: Thistle;
}
.color53     {
    width: 300px;
    height: 150px;
    background-color: WhiteSmoke;
}
.color54     {
    width: 300px;
    height: 150px;
    background-color: YellowGreen;
}