.cmList li {
    font-size: small;
}

.cnImageTitle {
    width: 20px;
    height: 20px;
}


ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

li:hover {
    color: rgb(115,142,161);
}

li:active {
    color:rgb(117,116,121);
}

.player {
    width: 470px;
    height: 15px;
}

.bSlide {
    display: block;
}

.sSlide {
    display: none;
}

@media screen and (max-width: 550px) {
    .player {
        margin: 2px;
        width: 300px;
        height: 15px;
    }

    .bSlide {
        display: none;
    }
    .sSlide {
        display: block;
    }
  }



