.SlidePhim {
    width: 1200px;
    align-items: center;
}
.SlidePhim img {
    width: 50px;
}


.PhimHotDiv {
    width: 1200px;
    float: left;
    align-items: center;
}

.PhimMoiDiv {
    width: 1200px;
    float: left;
    align-items: center;
}

.PhimHotContain {
    width: 200px;
    float: left;
}

.PhimHotContain img {
    width: 150px;
}

.PhimHotContain ul {
    list-style-type: none;
}

.PhimMoiContain {
    width: 200px;
    float: left;
}

.PhimMoiContain img {
    width: 150px;
}

.PhimMoiContain ul {
    list-style-type: none;
}

.PhimMoiContain:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.PhimHotContain:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}