.table-contain {
    width: 100%;
    height: 100%;
    background-color: salmon;
}

/* div fullscreen */
/* https://stackoverflow.com/questions/7130397/how-do-i-make-a-div-full-screen */
.main-messenger {

    width: 100%;
    height: 100%;
    background-color: seagreen;
    
    position: absolute;
    top: 0;
    left: 0;
    
}

.top-bar {
    height: 10%;
    display: block;
    background-color: aquamarine;
}

.center-bar {
    width: 100%;
    height: 80%;
    display: grid; /* grid not full width */
    background-color: gold;

    overflow: auto;
}

.center-bar p {
    margin-left: 7px;
    padding: 8px;
    display: -webkit-inline-box; /* right avatar */
    background-color: lightgreen;
    
    border-radius: 15px 50px;
}

.center-bar span {
    display: flex;
    margin-left: 12%;
    margin-top: 35px;
}

.center-bar img {
    border-radius: 50px 50px 50px;
}

.bottom-bar {
    height: 10%;
    display: flex;
    background-color: crimson;
}