.frs-col {
    border: 1px solid;
}

.tinv {
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 25px;
}

.tinv svg {
    margin-right: 15px;
    margin-bottom: 1rem;
    font-size: 50px;
}

.tn-home {

}

.tn-exl {

}

.tn-noti {

}

.tn-mes {

}

.tn-boks {

}

.tn-lst {

}

.tn-rol {

}

.tn-bge {

}